*{

  
}

.container{
    text-align: center;
    border-radius: 10px;
    height: 555px;
    width: 700px;
    background: linear-gradient(90deg, rgba(178,6,239,1) 0%, rgba(255,243,4,1) 50%, rgba(205,9,243,1) 100%);
    border: solid 14px rgb(238, 255, 0);
    

    
    


   
}

.calculator{
    

}

table{
    margin: auto;
 
    margin-top: 20px;


}

input{
    font-size: 30px;
    height: 70px;
    width: 400px;
    background-color: aqua;
    border: 5px inset black;
}

button{
    font-size: 26px;
    background-color: aqua;
    border: 5px inset black;
    
    font-size: 35px;
    height: 60px;
    width: 90px;

}
